TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_USERNAME=

DB_URL=jdbc:postgresql://localhost:5432/coursework
DB_USERNAME=coursework
DB_PASSWORD=coursework

POSTGRES_DB=coursework
POSTGRES_USER=coursework
POSTGRES_PASSWORD=coursework
POSTGRES_PORT=5432

MINIO_ENDPOINT=http://localhost:9000
MINIO_PUBLIC_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=coursework
MINIO_SECRET_KEY=coursework-secret
MINIO_BUCKET=coursework-media

MINIO_ROOT_USER=coursework
MINIO_ROOT_PASSWORD=coursework-secret
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

REVIEW_REMINDERS_INITIAL_DELAY=15000
REVIEW_REMINDERS_FIXED_DELAY=60000
