TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_USERNAME=

DB_URL=jdbc:postgresql://localhost:5432/coursework
DB_USERNAME=coursework
DB_PASSWORD=change_me_postgres_password

POSTGRES_DB=coursework
POSTGRES_USER=coursework
POSTGRES_PASSWORD=change_me_postgres_password
POSTGRES_BIND=127.0.0.1
POSTGRES_PORT=5432

MINIO_ENDPOINT=http://localhost:9000
MINIO_PUBLIC_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=coursework
MINIO_SECRET_KEY=change_me_minio_password
MINIO_BUCKET=coursework-media

MINIO_ROOT_USER=coursework
MINIO_ROOT_PASSWORD=change_me_minio_password
MINIO_BIND=127.0.0.1
MINIO_API_PORT=9000
MINIO_CONSOLE_BIND=127.0.0.1
MINIO_CONSOLE_PORT=9001

REVIEW_REMINDERS_INITIAL_DELAY=15000
REVIEW_REMINDERS_FIXED_DELAY=60000

JAVA_OPTS=-Xms128m -Xmx384m
